header {
  display: flex;
  justify-content: start;
  margin-top: 1.5rem;
  background-color: gray;
  align-items: center;
}

img {
  margin-left: 5rem;
  margin-right: 7rem;
}

input {
  height: 30px;
  width: 400px;
}

.search-button {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 1rem;
  height: 2rem;
  align-items: center;
}

.search-button {
  background-color: #75b5ff;
  color: black;
  font-size: 13px;
  width: 5rem;
  height: 2rem;
  border: 0;
  box-sizing: border-box;
  border-radius: 2rem;
}

.exit-button {
  background-color: gainsboro;
  color: black;
  font-size: 13px;
  width: 5rem;
  height: 2rem;
  border: 0;
  box-sizing: border-box;
  border-radius: 2rem;
}